@import "tailwindcss";

@theme {
	--font-sans: Outfit, ui-sans-serif, system-ui, sans-serif;
	
	--color-bg: #151415;
	--color-primary: #FF7F11;
	--color-light: #E5E5E5;
}

@custom-variant dark (&:where(.dark, .dark *));